<head>

</head>

<div class="jumbotron">
  <h1>Welcome to Instagram Clone!</h1>
  <p>View posts below or click this button to leave your own.</p>
  <p><a class="btn btn-primary btn-lg" href="/posts/new" role="button">Add Post</a></p>
</div>


<% if @posts.any? %>
  <div id='postList'>
    <% @posts.each do |post| %>
      <div id='postListItem'><%= link_to post.title, post_path(post) %> <%= 
      post.created_at.strftime("%m/%d/%Y") %> <%=post.created_at.strftime("%H:%M") %><br>
      <%= link_to image_tag(post.image.url(:thumb)),post_path(post) %><br></div>
    <% end %>
  </div>
<% else %>
  <div id='noPostsMessage'>No posts added yet</div>
<% end %>

