<div id='addPostButton'><a href='/posts/new'>Add Post</a></div>

<% if @posts.any? %>
  <div id='postList'>
    <% @posts.each do |post| %>
      <%= link_to post.title, post_path(post) %> <%= 
      post.created_at.strftime("%m/%d/%Y") %> <%=post.created_at.strftime("%H:%M") %><br>
      <%= link_to image_tag(post.image.url(:thumb)),post_path(post) %><br>
    <% end %>
  </div>
<% else %>
  <div id='noPostsMessage'>No posts added yet</div>
<% end %>

