// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.signingButtons {
  display: block;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

div#postList {
  border: solid;
  border-width: 1px;
  background-color: lightgrey;
  width: 50%;
  margin: 0 auto;
}

div#postListItem {
  margin: 20px;
}