// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.signingButtons {
  display: block;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

div#postList {
  display: block;
  border: solid;
  border-width: 1px;
  background-color: lightgrey;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

div#postListItem {
  display: block;
  border: solid;
  border-width: 1px;
  /*width: 95%;*/
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
}

div#post_pic {
  margin: 0 auto;
}

